$main-color: #3535ad;
$layout-color: #d7d7da;
$footer-color: #444343;
$font-color-white: white;
$navbar-color-white: #fffdfd;
$navbar-link-hover: rgba(8, 70, 225, 0.1);
$calendar-background-color: #d6dce7;
$calendar-item-color: #ffffff;