$MAIN_COLOR: #9ac2c8;
$FONT_COLOR_DARK: #394158;
$FONT_COLOR_LIGHT: whitesmoke;
$HOVER_COLOR: rgba(92, 114, 142, 0.1);
$LAYOUT_COLOR: #d9d9d9;
$ITEMS_COLOR: whitesmoke;
$UI_COLOR: #c2cbcc;
$FOOTER_COLOR: #5C728E;
$DISABLED_COLOR: rgba(46, 48, 51, 0.2);
$ERROR_COLOR: #e56666;
$BADGE_COLOR_ORGANIZER: rgba(4, 9, 196, 0.2);
$BADGE_COLOR_PARTICIPANT: rgba(196, 117, 117, 0.5);
$MODAL_LAYOUT: rgba(0, 0, 0, 0.8);