$main-color: #3535ad;
$layout-color: #d7d7da;
$footer-color: #444343;
$font-color-white: white;
$navbar-color-white: #fffdfd;
$navbar-link-hover: rgba(8, 70, 225, 0.1);
$calendar-background-color: #d6dce7;
$calendar-item-color: #ffffff;
$bg-img-default: 'https://firebasestorage.googleapis.com/v0/b/meetups-ddc9b.appspot.com/o/covers%2Fmeetups_card__background.jpg?alt=media&token=744441d9-c81e-4332-82a5-f41e5cc96b58';